* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;
}

html, body{
    background: linear-gradient(319deg, black, #180d48);
    width: 100vw;
    height: 100vh;
    overscroll-behavior: none;
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100500;
    width: 50px;
    height: 100vh;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: left 0.3s ease-in-out;
    user-select: none;
}

aside .items{
    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

aside.hidden{
    left: -50px;
}

aside .items::-webkit-scrollbar {
    width: 0;
}

@keyframes showWinNavItem {
    from{
        min-height: 0;
        max-height: 0;
    }

    to{
        min-height: 50px;
        max-height: 50px;
    }
}

aside .window-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: unset;
    overflow: hidden;
    max-height: 0;
    min-height: 0;
    transition: box-shadow 0.2s ease-in-out,
    max-height 0.2s ease-in-out,
    min-height 0.2s ease-in-out;
}

aside .window-nav.shown{
    min-height: 50px;
    max-height: 50px;
}

aside .window-nav:hover{
    box-shadow: inset 0 0 2px #fcfcfc;
}

aside .window-nav.active{
    box-shadow: inset 0 0 30px 20px rgb(123, 130,218);
}
aside .window-nav.active:hover{
    box-shadow: inset 0 0 30px 20px rgb(123, 130, 218);
}

aside .window-nav:active{
    box-shadow: inset 0 0 2px #d9d5d5
}


button.add-window {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(27, 27, 27, 0.3);
    color: #fff;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100500;
    transition: all 0.3s ease;
    user-select: none;
    box-shadow: 0 0 5px #fff;
}

button.add-window:hover {
    background-color: #fff;
    color: #1b1b1b;
}

.window {
    --offset: 8px;
    position: fixed;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    user-select: none;
    box-sizing: content-box;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.window.top {
    box-shadow: 0 0 10px 5px rgb(88 70 255 / 91%) !important;
}

.window.visible {
    opacity: 1;
}

.window.dragging,
.window.resizing {
    opacity: 0.8 !important;
    box-shadow: 0 0 10px 5px  rgb(88 70 255 / 60%) !important;
}

.window:not(.visible) {
    pointer-events: none;
    opacity: 0;
}

.window .window-content {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    font-size: 25px;
}

/* cursor for border*/
.window:after {
    content: '';
    position: absolute;
    width: calc(100% - 2 * var(--offset));
    height: calc(100% - 2 * var(--offset));
    top: var(--offset);
    left: var(--offset);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: move;
    z-index: 2;
}

.window:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.window .window-borders {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.window .window-borders > * {
    position: absolute;
}

.window .window-borders .b-top,
.window .window-borders .b-bottom {
    width: 100%;
    height: var(--offset);
}

.window .window-borders .b-left,
.window .window-borders .b-right {
    width: var(--offset);
    height: 100%;
}

.window .window-borders .b-top {
    cursor: ns-resize;
    top: 0;
    left: 0;
}

.window .window-borders .b-bottom {
    cursor: ns-resize;
    bottom: 0;
    left: 0;
}

.window .window-borders .b-left {
    cursor: ew-resize;
    top: 0;
    left: 0;
}

.window .window-borders .b-right {
    cursor: ew-resize;
    top: 0;
    right: 0;
}

.window .window-borders .b-top-left,
.window .window-borders .b-bottom-left {
    left: 0;
}

.window .window-borders .b-top-right,
.window .window-borders .b-bottom-right {
    right: 0;
}

.window .window-borders .b-top-left,
.window .window-borders .b-top-right {
    top: 0;
}

.window .window-borders .b-bottom-left,
.window .window-borders .b-bottom-right {
    bottom: 0;
}

.window .window-borders .b-top-left,
.window .window-borders .b-bottom-right {
    cursor: nwse-resize;
}

.window .window-borders .b-bottom-left,
.window .window-borders .b-top-right {
    cursor: nesw-resize;
}

.window .window-borders .b-top-left,
.window .window-borders .b-bottom-left,
.window .window-borders .b-top-right,
.window .window-borders .b-bottom-right {
    width: var(--offset);
    height: var(--offset);
}

html[style^="cursor"] .window .window-borders [class^="b-"],
body[style^="cursor"] .window .window-borders [class^="b-"] {
    cursor: inherit !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}